* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#header-box {
    background: #1F2937;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* remove list default style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}


/* header-b part */
.header-text > h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-text > p,.header-text > button {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text > button {
    background-color: #3882F6; 
}

.thumbnail-wrapper {
    width: 100px;
    height: 100px;
    background: gray;
}