body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;\
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
}

.box {
    max-width: 75%;
    margin: 0 auto;
    padding: 0;
}


#header-box {
    background: #1F2937;
    margin: 0;
    padding: 10px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* remove list default style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}


/* header-b part */
.header-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-text > p,.header-text > button {
    font-size: 18px;
    color: #E5E7EB;
}

.header-text > button {
    background-color: #3882F6; 
    width: 120px;
    border-radius: 7px;
    border-color: #3882F6;
    padding: 5px 0;
}

.thumbnail-wrapper {
    width: 100%;
    height: auto;
    background: gray;
}

.header-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-b {
    display: flex;
    gap: 48px;
    padding: 50px 0;
}

/* content 1 __section 2 */
.content-1 {
    padding: 48px 0;
}
.info-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 24px;
}

.info {
    display: flex;
    justify-content: space-around;
}

.img-text {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-1-img-placeholder {
    width: 150px;
    height: 150px;
    border-radius:  8px;
    border:6px solid #3882F6;
}

.info-text {
    text-align: center;
    font-size: 18px;
    /* color: #E5E7EB; */   
}

/* Section 3 */

.content-2 {
    background: #E5E7EB;
    padding: 48px 0;
    /* flex: auto; */
}

.box-cont-2 {
    max-width: 60%;
    margin: 0 auto;
    padding: 0;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}
.author-quote {
    text-align: right;
    font-weight:bold;
    padding-top: 24px;
    padding-right: 30px;
}

/* section 4 */

.content-3 {
    margin: 70px 0px;
}

.feedback {
    height: 100px;
    background: #3882F6;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feedback-text > h3 {
    margin: 0px;
    padding: 0px;
}

.feedback > button {
    background: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    width: 100px;
    height: 20px;
    border-radius: 5px;
}

/* footer */

.footer {
    background: #1F2937;
    padding: 14px;
    color: #F9FAF8;
    text-align: center;
}